@model IEnumerable<TaskHub.Models.List>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Board)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Board.BoardTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
