
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    <link rel="apple-touch-icon" sizes="180x180" href="~/test/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/test/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/test/icons/favicon-16x16.png">

    <link rel="mask-icon" href="~/test/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/test/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="TaskHub">
    <meta name="application-name" content="TaskHub">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="~/test/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewData["Title"] - TaskHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskHub.styles.css" asp-append-version="true" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/admin-css/plugins/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/css/admin-css/plugins/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/admin-css/dist/adminlte.min.css">

    <link rel="stylesheet" href="~/test/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @model TaskHub.Models.WorkSpaceViewModels.WorkSpaceIndexData

    <body class="sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Dung / Nam -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="logo">
                    <h1><i class="fa fa-trello" aria-hidden="true"></i>TaskHub</h1>
                </div>

                <div class="user-settings">
                    <span class="title-actions-container" style="font-size:25px;cursor:pointer;letter-spacing: 1ch;">
                        <button class="btn" data-ripple-color="dark" type="button" style="color: #0079bf;  border-color: #0079bf;"><i class="fas fa-share"></i> Share</button>
                    </span>
                </div>
            </nav>

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="/Home/MyBoards" class="brand-link navbar-brand d-flex align-items-center px-4 px-lg-5" style="margin-right: -8px">
                    <h3 class="" style="color: #c2c7d0; margin: 0 0 0 -30px">
                        <img class="rounded-3" style="width: 55px;" src="~/test/icons/favicon.ico" alt="" />
                        TaskHub
                    </h3>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="@ViewBag.Avatar" style="width: 40px;" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="/Users/Edit/@ViewBag.UserId" class="d-block">@ViewBag.Username</a>
                        </div>
                    </div>

                    <!-- SidebarSearch Form -->
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                                 with font-awesome or any other icon font library -->

                            <li class="nav-item menu-open">
                                <a href="/Home/MyBoards/" class="nav-link active">
                                    <i class="fa fa-chart-bar nav-icon"></i>
                                    <p>
                                        My WorkSpace
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                    </li>
                                    @foreach (var item in Model.WorkSpaces)
                                    {
                                        <li class="nav-item">
                                            <a href="/Home/MyBoards/@item.WorkSpaceId" class="nav-link @(item.WorkSpaceId == ViewBag.WorkSpaceId ? "active" : "")">
                                                <i class="fa fa-eye nav-icon"></i>
                                                <p>@item.WorkSpaceTitle</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            @if (Model.WorkSpaces.Count() > 0)
                            {
                                <li class="nav-item">
                                    <a id="sidebar-button" class="nav-link d-flex justify-content-between">
                                        <p>My Boards</p>
                                        <i class="fa fa-plus nav-icon"></i>
                                    </a>
                                </li>
                            }

                            <div id="boards-list">
                                <!-- Boards will be listed here... -->
                            </div>

                            <li class="nav-header text-center" style="margin-left: -10px"><br><br><br><br></li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <div class="content-wrapper" style="background: #0067a3; ">
                @RenderBody()
            </div>

            <footer class="main-footer">
                <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 3.2.0
                </div>
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
    </body>
    <!-- jQuery -->
    <script src="~/js/admin-js/plugins/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/js/admin-js/plugins/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/js/admin-js/plugins/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/admin-js/dist/js/adminlte.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>