@model TaskHub.Models.WorkSpaceViewModels.UserIndexData

@{
    ViewData["Title"] = "User";
}

<h1>User</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>UserName</th>
            <th>Email</th>
            <th>LastName</th>
            <th>FirstMidName</th>
            <th>WorkSpaces</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model.Users) {
            index++;
            string selectedRow = "";
            if (item.ID == (int?)ViewData["UserID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @foreach (var workspace in item.WorkSpaces)
                    {
                        @workspace.WorkSpaceTitle <br />
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.WorkSpaces != null)
{
    @if (Model.WorkSpaces.Count() > 0)
    {
        <h3>WorkSpaces created by Selected User</h3>
        <table class="table">
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Description</th>
                <th colspan="2">Action</th>
            </tr>

            @{
                index = 0;
            }
            @foreach (var item in Model.WorkSpaces)
            {
                index++;
                string selectedRow = "";
                if (item.WorkSpaceId == (int?)ViewData["WorkSpaceIdForMember"] || item.WorkSpaceId == (int?)ViewData["WorkSpaceIdForDetails"])
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td>
                        @index
                    </td>
                    <td>
                        @item.WorkSpaceTitle
                    </td>
                    <td>
                        @item.WorkSpaceDescription
                    </td>
                    <td>
                        @Html.ActionLink("Members", "Index", new { WorkSpaceIdForMember = item.WorkSpaceId })
                    </td>
                    <td>
                        @Html.ActionLink("Boards/Lists/Tasks", "Index", new { WorkSpaceIdForDetails = item.WorkSpaceId })
                    </td>
                </tr>
            }

        </table>
    }
}
@if (Model.WorkSpaceMembers != null)
{
    <h3>
        Users Enrolled in Selected WorkSpace
    </h3>
    <table class="table">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Enrollment Date</th>
        </tr>
        @{
            index = 0;
        }
        @foreach (var item in Model.WorkSpaceMembers)
        {
            index ++;
            <tr>
                <td>
                    @* Hiển thị Index *@
                    @index
                </td>
                <td>
                    @item.User.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.EnrollmentDate)
                </td>
            </tr>
        }
    </table>
}

@if (Model.Boards != null)
{
    <h3>
        Boards in Selected WorkSpace
    </h3>
    <table class="table">
        <tr>
            <th>No.</th>
            <th>Board Title</th>
            <th colspan="3">Lists</th>
        </tr>
        @{
            index = 0;
        }
        @foreach (var item in Model.Boards)
        {
            index++;
            <tr>
                <td>
                    @* Hiển thị Index *@
                    @index
                </td>
                <td>
                    @item.BoardTitle
                </td>
                <td>
                    <table class="table">
                        <tr>
                            <th>No.</th>
                            <th>List Title</th>
                            <th >Tasks</th>
                        </tr>
                        @{
                            var indexForList = 0;
                        }
                        @foreach (var list in item.Lists)
                        {
                            indexForList++;
                            <tr>
                                <td>
                                    @* Hiển thị Index *@
                                    @indexForList
                                </td>
                                <td>
                                    @list.ListTitle
                                </td>
                                <td>
                                    <ul>
                                    @foreach (var task in list.TaskItems)
                                    {
                                        <li>@task.Title - Deadline: @task.Deadline</li>
                                        @if (task.Comments.Count() > 0 )
                                        {
                                            <span class="text-bold">Comments: </span>
                                            <br>
                                            @foreach (var cmt in task.Comments)
                                            {
                                                @cmt.CommentContent <br />
                                            }
                                        }
                                    }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </table>
}
